@import "toggle-switch";

$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
/*$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;*/
$font-family: "Inter", serif, 
  sans-serif, Segoe UI Emoji, Segoe UI Symbol;

/* Ensure full-page height */
html, body {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;	
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  line-height: 1.5;
  padding: 2vh 4vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
    
  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 36em;	
  
}

/* Main content should expand */
main {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
  font-size: 0.8rem;
}

footer {
  flex-shrink: 0;
  width: 100%;
  margin-top: auto;
  padding-top:40px;
  display: flex;
  justify-content: space-between;
  margin: 0;	
	
  font-size: 1rem;
  
  color: mix($color-text, white, 40%);
  
  a {
    color: mix($color-text, white, 40%);  
  }
  
  p {
    margin: 0;		
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;		
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
 {
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.5em;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 1;
  padding-bottom: 0;
  font-size: 1.2rem;	
}


/* General table styling */
table {
  border-collapse: collapse; 
  width: 100%;
/*  table-layout: fixed; */
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.2;
  border-top: 1px solid #000000; /* Adjust color as needed */
}

/* Header row styling */
thead th {
  font-weight: normal; /* Ensures header text is not bold */
}

/* Align text to the top */
td, th {
  vertical-align: top;
  border-bottom: 1px solid #000000; /* Adjust color as needed */
}
/* Set column widths */

td:not(:last-child), th:not(:last-child) {
	padding-right: 5px
}

li {
  font-size: 1rem;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  flex-shrink: 0;
  max-width: 36em;
  width: 100%;	

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;
  align-items: center;
  a {
	  border-bottom:none;
  }
  b {
      font-weight: normal;
  }
}

.menu-block {
  display: flex;
  gap: 50px;
  align-items: center;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}


.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}
