$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

/* Ensure full-page height */
html, body {
  height: 100%; /* Ensures full height for the page */
  margin: auto;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
/*  max-width: 40em; */
  
  font-family: $font-family;
  margin: auto;
  line-height: 1.5;
  padding: 2vh 4vw;
  overflow-x: hidden;
  color: $color-text;
/*  font-size: 1rem; */
  p {
    font-size: 0.9rem;
	}  
	  
  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 38em; /* Keeps content readable */
}

/* Main content should expand */
main {
  flex-grow: 1; /* Ensures it takes up remaining space */
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: none;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;		
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.5em;
}

h2 {
  line-height: 1;
  margin-bottom: 1;
  padding-bottom: 0;
  font-size: 1em;	
}

/* General table styling */
table {
  border-collapse: collapse; 
  width: 100%;
/*  table-layout: fixed; */
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.2;
  border-top: 1px solid #ccc; /* Adjust color as needed */
}

/* Header row styling */
thead th {
  font-weight: normal; /* Ensures header text is not bold */
}

/* Align text to the top */
td, th {
  vertical-align: top;
  border-bottom: 1px solid #ccc; /* Adjust color as needed */
}
/* Set column widths */

td:not(:last-child), th:not(:last-child) {
	padding-right: 5px
}


a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  max-width: 38em;
  display: flex;
  justify-content: space-between;
  margin: 1em 0 1em;
  
  a {
	  border-bottom:none;
  }
  b {
      font-weight: normal;
	  font-size: 0.9rem;
  }
}

.menu-block {
  display: flex;
  gap: 10px;
	
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}
