<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>
	

    {% include link-previews.html wrapperQuerySelector="content" %}
	
	<!--Script for language slider-->
    <script src="{{ '/assets/js/language-toggle.js' | relative_url }}"></script>	
	<!--Script for time ticker-->
    <script>
      function updateTime() {
        // Define options to format the time in 24-hour format without seconds
        const options = { 
          timeZone: 'Europe/Berlin', 
          hour: '2-digit', 
          minute: '2-digit', 
          hour12: false 
        };

        // Get the current time in Berlin using Intl.DateTimeFormat
        const berlinTime = new Intl.DateTimeFormat('en-GB', options).format(new Date());
    
        // Update the ticker text
        document.getElementById('time-ticker').textContent = "Berlin, " + berlinTime;
      }
  
      // Initial call to set the time as soon as the page loads
      updateTime();
  
      // Update the ticker every minute (60000 milliseconds)
      setInterval(updateTime, 60000);
    </script>
	
	
  </body>
</html>
